<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Welcome to FinancialApp</mat-card-title>
      <mat-card-subtitle
        >Your gateway to financial management</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="button-container">
        <a mat-raised-button color="primary" href="/login-page">Login</a>
        <a mat-raised-button color="accent" href="/home/register-page"
          >Sign Up</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
